@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg,#14303C,#000000);
}

.page{
    margin: 50px;
    width: 775px;
    height: 1096.25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}

.right_side{
    position: relative;
    display: flex;
    float: right;
    width: 43.5%;
    height: 100%;
    background: #14303C;
    justify-content: center;
}

.profil{
    position: relative;
    width: 200px;
    height: 250px;
    margin: 20px;
}