@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg,#14303C,#000000);
}

::-webkit-scrollbar{
    display: none;
}

.page{
    margin: 50px;
    width: 775px;
    height: 1096.25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}

.right_side{
    position: relative;
    display: inline;
    float: right;
    width: 43.5%;
    height: 100%;
    background: #14303C;
    justify-content: center;
}

.profil{
    width: 200px;
    height: 250px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact{
    display: grid;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

h3{
    position: relative;
    display: block;
    color: #fff;
    margin-left: 50px;
}

.line{
    position: relative;
    display: block;
    background: #fff;
    width: 250px;
    height: 1.5px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 1.5px;
}

ul{
    position: relative;
    display: block;
    color: #fff;
    margin-left: 50px;
    list-style: none;
}

li.grid{
    position: relative;
    display: block;
    float: left;
}

.icon{
    color: #fff;
    position: relative;
    font-size: 40px;
    margin-right: 20px;
    margin-top: 20px;
}

.logiciels{
    display: grid;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.logi{
    margin-bottom: 15px;
    display: block;
    font-size: 15px;
}

.bar{
    position: relative;
    display: flex;
    float: right;
    background: #fff;
    height: 15px;
    width: 150px;
    margin-right: 30px;
    margin-top: 5px;
    border-radius: 15px;
    align-items: center;
}

.percent{
    position: relative;
    display: block;
    float: right;
    background: linear-gradient(-90deg,#14303C,#b6b6b6);
    height: 12px;
    width: var(--prog);
    border-radius: 15px;
    margin-left: 2px;
}